.c-splash-image{
    background-image: url(../assets/images/UdesaBackground.jpeg) !important;
    background-size: cover !important;

}
.c-splash-image::after{
    background-image: url(../assets/images/logo-universidad-de-san-andres.png) !important;
}
.c-splash-image::before{
    content: none !important;
}
.c-about__text__element{
    display: none !important;
}
